
<section class="jumbotron text-center">
  <div class="container">

    <div class="row">
      <div class="col-md-6 mx-auto mb-5">
        <img class="img-fluid artist-cover" src="holder.js/300px300?theme=thumb&bg=55595c&fg=eceeef&text=No Photo" alt="{{ArtistName}}">
      </div>
    </div>

    <h1 class="jumbotron-heading">{{ArtistName}}</h1>
    <p class="lead text-muted biography" data-artist="{{ArtistName}}">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Track</th>
            <th scope="col">Album</th>
            <th scope="col">Genre</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {{tracks.SequelizeInstance}}
          {{# each tracks}}
          <tr>
            <th scope="row">1</th>
            <td>{{Track}}</td>
            <td>{{Album}}</td>
            <td>{{Genre}}</td>
            <td scope="price">{{Price}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
