
<section class="jumbotron text-center d-none">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
      {{#each artists}}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top artist-cover" src="https://via.placeholder.com/348x225/54595b/ffffff/?text=Thumbnail" alt="{{Name}}">
          <div class="card-body">
            <h5>{{Name}}</h5>
            <p class="card-text">
              <span>Albums: </span> {{TotalAlbums}}<br />
              {{!--This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.--}}
              </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="/artist/{{ArtistId}}" class="btn btn-sm btn-outline-secondary">View</a>
                <a href="/artist/edit/{{ArtistId}}" class="btn btn-sm btn-outline-secondary">Edit</a>
              </div>
              <small class="text-muted">{{Tracks}} tracks</small>
            </div>
          </div>
        </div>
      </div>
      {{/each}}

    </div>
  </div>
</div>